.logo-col {
    flex: 0 0 93px;
    padding: 0;
    margin-right: 10px;
}

.logo {
    height: 93px;
    width: auto;
    padding-left: 20%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.menu-item {
    font-size: 22px;
    float: right;
    font-weight: 500;
}